<html>
  <body>
    <p>
      Inserisci la chiave:
      <input #chiave (keyup.enter)="onEnter(chiave.value)" />
      `
    </p>
    <div class="container">
      <h1>Nuovo teatro:</h1>

      <form #dimensioni="ngForm" (ngSubmit)="onSubmit(dimensioni)" novalidate>
        <p> Inserisci numero file platea: 
        <input name="filePlatea" ngModel required /><br /><br />
        </p>
        <p> Inserisci numero posti platea: 
        <input name="postiPlatea" ngModel required /><br /><br />
        </p>
        <p> Inserisci numero file palchi: 
        <input name="filePalchi" ngModel required /><br /><br />
        </p>
        <p> Inserisci numero posti palchi: 
        <input name="postiPalchi" ngModel required /><br /><br />
        </p>
        <button>Crea</button>
      </form>
    </div>
  </body>
</html>
