<p *ngIf="chiave == undefined">
  <app-chiave (chiaveEvent)="receiveKey($event)"> </app-chiave>
</p>

<div *ngIf="nominativo == undefined">
  <p *ngIf="chiave !== undefined">
    <app-nominativo (nominativoEvent)="receiveNominativo($event)">
    </app-nominativo>
  </p>
</div>
<html>
  <body>
    <div *ngIf="nominativo !== undefined">

      <div>
        <p>Platea:</p>
        <ul>
          <li *ngFor="let posto of platea.postiDisponibili">
            <button [appColor]="color"(click)="imposta(posto, 'platea')">{{ posto }}
            </button>
          </li>
        </ul>
      </div>
      <div>
        <p>Palchi:</p>
        <ul>
          <li *ngFor="let posto of palchi.postiDisponibili">
            <button [appColor]="color" (click)="imposta(posto, 'palchi')">
              {{ posto }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
