<p *ngIf="chiave == undefined">
  <app-chiave (chiaveEvent)="receiveKey($event)"> </app-chiave>
</p>

<div *ngIf="nominativo == undefined">
  <p *ngIf="chiave !== undefined">
    <app-nominativo (nominativoEvent)="receiveNominativo($event)">
    </app-nominativo>
  </p>
</div>
<html>
  <body>
    <div >
      <div>
        <p>Platea:</p>
        <ul>
          <li *ngFor="let posto of postiPlatea">
            <button [ngStyle]="{color: getColor()}"(click)="imposta(posto)">
              {{ posto }}
            </button>
          </li>
        </ul>
      </div>
      <div>
        <p>Palchi:</p>
        <ul>
          <li *ngFor="let posto of postiPalchi">
            <button [appColor]="color" (click)="imposta(posto)">
              {{ posto }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
